<!-- Main container -->
<div class="container">
    <h1>Search Discogs</h1>

    <div class="row">
        <form action="/records/search" method="GET" class="col s12">
            <div class="input-field col s12 m8 offset-m2">
                <i class="material-icons prefix">search</i>
                <input type="text" id="q" name="q" value="<%= locals.searchQuery || '' %>" required>
                <label for="q">Search by Artist or Album</label>
            </div>
            <div class="col s12 center-align">
                <button type="submit" class="btn waves-effect waves-light">
                    Search
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <% if (locals.error) { %>
        <div class="row">
            <div class="col s12">
                <div class="card-panel red lighten-4 red-text text-darken-4">
                    <%= error %>
                </div>
            </div>
        </div>
    <% } %>

    <% if (locals.results && results.length > 0) { %>
        <div class="row">
            <% results.forEach(record => { %>
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= record.thumb || '/images/default-album.png' %>" 
                                 alt="<%= record.title %>"
                                 onerror="this.src='/images/default-album.png'">
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate"><%= record.title %></span>
                            <p>
                                <% if (record.year) { %>Year: <%= record.year %><br><% } %>
                                <% if (record.genre) { %>Genre: <%= record.genre %><br><% } %>
                                <% if (record.label) { %>Label: <%= record.label %><% } %>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/records/add-from-discogs/<%= record.id %>" class="btn waves-effect waves-light">
                                Add to Collection
                                <i class="material-icons right">add</i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else if (locals.searchQuery) { %>
        <div class="row">
            <div class="col s12 center-align">
                <p>No records found matching your search.</p>
            </div>
        </div>
    <% } %>
</div>

<!-- Include footer template -->
<%- include('../partials/footer') %>
